# Ignore the virtual environment folder
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Environment variables file
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE specific files
.vscode/
.idea/